@import url(fonts.css);
@import url(jquery.fancybox.min.css);
@import url(/css/slick.css);
@import url(/css/jquery.formstyler.css);

@font-face {
    font-family: "PT Serif Regular";
    src: url(/fonts/pt-serif-v17-latin-regular.ttf);
}
@font-face {
    font-family: "PT Serif Bold";
    src: url(/fonts/pt-serif-v17-latin-700.ttf);
}
@font-face {
    font-family: "PT Serif Medium";
    src: url(/fonts/roboto-v30-latin-500.ttf);
}
@font-face {
    font-family: "Roboto Regular";
    src: url(/fonts/roboto-v30-latin-regular.ttf);
}
$fontfamilyPTSerifRegular: "PT Serif Regular";
$fontfamilyPTSerifBold: "PT Serif Bold";
$fontfamilyPTSerifMedium: "PT Serif Medium";
$fontfamilyRobotoRegular: "Roboto Regular";
.header{
    font-family: $fontfamilyRobotoRegular;
}

.header__top{
    background-color: #303030;
}
.header__btn{
    //если для одного элемента использован float, то для родителя нужна задать(смотри .header__contacts::after)
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 50px;
    font-size: 16px;
    position: relative;
}
.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: 1b1b1b;
}
//для будущего, в кнопке не помогло
.header__contacts::after{
    content: "";
    clear: both;
    display: block;
}
.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__email{
    padding-left: 24px;
}
.header__email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content{
    padding-top: 34px;
    padding-bottom: 23px;
}

.header__content-inner{
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent; //transparent - прозрачный 
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover{
    border-color: #ffc222;
}

//у всех li будет padding, кроме первой
.menu li+li{
    padding-left: 10px;
}

#modal{
    display: none;
}